* {
    margin: 0 auto;
    padding: 0;
    outline: 0;

    font-family: 'Inter', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}
body{
    width: 1250px;
    border: 2px solid peru;
}
/* ===================================================common css================================================= */

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #d4b382;
    padding: 20px;
}



.items {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    text-align: center;
    padding: 5px;
    margin-right: 10px;

    width: 100px;
    height: 20px;
    color: white;
    border: 2px solid wheat;
    border-radius: 20px;
    cursor: pointer;
}

.item:hover {
    background-color: peru;

    transition: 0.5s ease-out;
}

.banner-container {
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("../images/banner-main.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 60px;
    font-weight: 800;

}

.description {
    width: 50%;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    padding: 20px;

}

.button {
    font-weight: 600;
    padding: 15px 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #af9977;
}

.button:hover {
    background-color: peru;
    transition: 0.5s ease-out;
}

.text-primary {
    color: tomato;
}

/* =================================================main================================================ */
.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    row-gap: 1em;
    column-gap: 1em;
}

.book {

    text-align: center;
    padding: 20px 10px;
    border: 2px solid red;
    border-radius: 20px;
}
@media screen and (max-width: 576px) {
 .book img {
    grid-template-columns: repeat(1,1fr);
    width: 100%;
 }
    
}
.book h2 p{
    font-size: 10em;
    a
    
}
.book img{
    width: 100%;
    border-radius: 20px;
    align-items: center;
}

.book button{
    margin: 10px auto;
    padding: 8px 15px;
    align-items: baseline;
    background-color: #af9977;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 20px;
}
.book button:hover{
    cursor: pointer;
    background-color: peru;
    transition: 0.5s ease-out
}